.Leaderboard {
    width: 100%;
    height: 100%;
    background-color: transparent;
    @include flexDirection(column, center, center);
    gap: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.241);
    &__Header {
        width: 100%;
        height: auto;
        font-size: 2rem;
        @include flexDirection(row-reverse, center, center);
        h2 {
            color: $color-heading;
        }
        .Leaderboard__close {
        color: white;
        font-size: 2.5rem;
        cursor: pointer;
        transform: rotate(180deg);
        padding: 20px;
        }
    }
    &__Main {
        width: 100%;
        min-height: 90%;
        @include flexDirection(column,  center, space-around);
        .Leaderboard__row {
            display: flex;
            @include flexDirection(row, center, space-between);
            h3 {
                font-size: 1.6rem;
                color: $color-heading
            }
            h4 {
                font-size: 1.2rem;
                color: white;
            }
            p {
                font-size: 1.6rem;
                color: $color-heading;
            }
        }
    }

    
}