/* DA INSERIRE IN NUOVO COMPONENTE */
.Navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: $color-text;
  z-index: 999;

  // transform: translateY(-60px);
  // &:hover {
  //   transform: translateY(0);
  // }

  &__List {
    list-style-type: none;
    display: flex;
    gap: 18px;
    cursor: pointer;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: inherit;
      padding: 2px;

      &:hover {
        border-bottom: 1px solid $color-heading;
        background-color: $color-heading;
        color: $color-black;
        // font-weight: bold;
      }
    }
  }

  // &__Hover {
  //   color: $color-heading;
  //   z-index: 999;
  //   border: 2px solid red;
  // }
}
