@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jura", sans-serif;
  background-color: black;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: fixed;
  top: 100px;
  left: 0;
}

.swiper-pagination {
  width: 100%;
  height: 10%;
  color: white;
  z-index: -1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 30px;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  text-transform: uppercase;
  color: #7af683ff;
}

/* 
.Swiper__Slide__Content,
.swiper-slide,
.swiper-slide-visible .swiper-slide-active {
  filter: drop-shadow(5px 6px 100px #000000);
}

.swiper-slide-prev.swiper-slide{
  opacity: 0.4;
  transform: translate(-50%, -50%);
} */

/* PROVA MOBILE */

@media screen and (max-width: 767px) {
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: fixed;
    top: 0;
    left: 0;
  }

  .swiper-pagination {
    width: 10%;
    height: 100%;
    color: white;
    z-index: -1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    background-color: transparent;
  }
}
