.Main {
  height: 100vh;
  overflow: hidden;
  background-image: url("/Milky.jpg");
}

.Distance {
  color: white;
}

.Swiper__Container {
  height: 100%;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.Swiper__Main {
  height: 100%;
  width: 100%;
}

.Swiper__Slide__Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 100px black);
}

.Modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 9999;
  color: #ffffff;
  line-height: 1.5rem;

  /************** TODO: scegliere uno dei seguenti stili **************/
  /*   background: rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);  */
  /*  background: rgba(95, 95, 95, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);   */
  /* background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px); */

  background: rgba(68, 68, 68, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
}

.Modal__Important {
  /* font-weight: bold; */
  text-transform: uppercase;
}

.Modal__Button {
  width: fit-content;
  padding: 4px;
  cursor: pointer;
}

.Modal__Button:hover {
  background-color: rgba(222, 13, 13, 0.499);
  color: #ffffff;
  border-radius: 4px;
}


/* .swiper-pagination {
} */

/* .swiper-slide-active{} */
