.Main {
  height: 100vh;
  overflow: hidden;
  background-image: url("/Milky.jpg");
}

.Distance {
  color: white;
}

.Swiper__Container {
  height: 100%;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
}

.Swiper__Main {
  height: 100%;
  width: 100%;
}

.Swiper__Slide__Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  height: 100%;
  width: 100%;
  filter: drop-shadow(5px 6px 100px #000);
}

.Modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 9999;
  color: #ffffff;
  line-height: 1.5rem;

  /************** TODO: scegliere uno dei seguenti stili **************/
  /*   background: rgba(0, 0, 0, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);  */
  /*  background: rgba(95, 95, 95, 0.46);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);   */
  /* background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px); */

  background: rgba(68, 68, 68, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
}

.Modal__Important {
  /* font-weight: bold; */
  text-transform: uppercase;
}

.Modal__Button {
  width: fit-content;
  padding: 4px;
  cursor: pointer;
}

.Modal__Button:hover {
  background-color: rgba(222, 13, 13, 0.499);
  color: #ffffff;
  border-radius: 4px;
}

/* Inizio css della modale delle istruzioni */
.Modal__Instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 9999999999999999999999;
  color: #ffffff;
  line-height: 1.5rem;

  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("/Milky.jpg");

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
}

.Modal__Content__Instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal__Instructions__Header {
  padding-top: 50px;
  text-align: center;
 
}
.Modal__Instructions__Header2{
  margin-bottom: 20px;
}

.Modal__Content__Instructions__keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__Content__Instructions__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: 20px;
  border: 1px solid rgba(57, 57, 57, 0.532);
  animation: pulseAnimation 1.5s infinite;
}

.Modal__Content__Instruction__right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin: 20px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(57, 57, 57, 0.712);
  animation: pulseAnimation 1.5s infinite;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Ondrag {
  animation: mouseAnimation 4s infinite;
}
.Ondrag__para__mobile {
  display: none;
}

.Dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #f28c38;
}

.Instruction__scroller2 {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
}

@keyframes mouseAnimation {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.Instruction__scroll__para {
  margin-top: 30px;
}

.Instruction__scroll {
  margin: auto;

  width: 34px;
  height: 55px;
}

.Instruction__mousey {
  margin-top: 12px;
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.Instruction__scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

.Modal__BtnContinue {
  position: fixed;
  left: 450px;
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #7af683ff;
  
  overflow: hidden;
  transition: all 0.5s ease-in;
  color: #fff;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;

  
}
.Modal__BtnContinue:hover{
  background-color: #7af683ff;
  color: #262322ff;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .Modal__Content__Instructions__para {
    display: none;
  }

  .Modal__Content__Instructions__keyboard {
    display: none;
  }

  .Instruction__scroll__para {
    display: none;
  }
  .Instruction__scroll {
    display: none;
  }
  .Ondrag__para {
    display: none;
  }

  .Modal__Instructions__Header {
    text-align: center;
  }
  .Modal__Instructions__Header2 {
    text-align: center;
  }

  .Ondrag__para__mobile {
    text-align: center;
    display: block;
    margin-top: 12px;
  }
}

/* Fine della modale delle istruzioni */
