.Preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 78, 183, 0.615);
    height: 100vh;
  }
  
  .AvatarPreview,
  .SpaceCraftPreview {
    padding: 12px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .SpaceCraftImgPreview {
    width: 100px;
  }
  
  .NextorBack {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }