.Quiz__main {
  background-image: url("/Milky.jpg");

  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 24px;

  @include flexDirection(column, center, center);
  gap: 20px;

  h1 {
    font-size: 3rem;
    color: $color-heading;
  }

  h2 {
    color: $color-text;
  }

  .Quiz__Info {
    @include flexDirection(row, space-between, center);
    flex-wrap: wrap;
    gap: 20px;
    color: $color-heading;
  }

  .Close__Button {
    color: white;
    font-size: 3rem;
    cursor: pointer;
    @include position(absolute, 0, null, null, 0);
    transform: rotate(180deg);
    padding: 20px;
    cursor: pointer;
    z-index: 999;
    .Back__Button__Image{
      filter: invert(100%);
      transform: scaleX(-1);
     
    }
  }

  .Question__Container {
    //   background-color: transparent;

    min-height: 60%;
    min-width: 60%;
    
    height: 100%;
    width: 100%;
    padding: 24px;

    color: $color-text;

    @include flexDirection(column, center, center);

    border-radius: 24px;

    /* border-top-left-radius: 24px;
    border-bottom-right-radius: 24px; */

    animation: Neon 3s linear infinite;

    font-size: 2rem;
    text-align: center;

    button {
      cursor: pointer;
      position: relative;
      background-color: $color-text;
      border-radius: 12px;
      padding: 12px;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $color-text;
      width: 250px;
      height: 80px;
      background: rgba(35, 35, 35, 0.581);

      &:hover {
        background-color: $color-black;
        color: $color-heading;
        border: 2px solid $color-text;
        transform: scale(1.04);
        transition: all 400ms ease;
      }
    }
  }

  .Answers__Container {
    width: 100%;
    height: 100%;

    @include flexDirection(row, center, center);
    flex-wrap: wrap;
    gap: 12px;

    height: fit-content;
    padding: 24px;

    .Single__Answer {
      background-color: $color-text;
      border-radius: 12px;
      padding: 12px;
      color: $color-black;
      font-size: 1rem;
      cursor: pointer;
      width: 40%;

      &:hover {
        background-color: $color-black;
        color: $color-text;
        border: 2px solid $color-text;
      }
    }
  }
}

.Leaderboard__Sidebar {
  @include position(absolute, 0, null, null, 0);
  height: 100%;
  width: 100%;
  background-color: transparent;
}

@keyframes Neon {
  20% {
    box-shadow: none;
  }
  40% {
    box-shadow: 0 0 2px 2px $color-text;
  }
  45% {
    box-shadow: 0 0 4px 4px $color-text;
  }
  50% {
    box-shadow: 0 0 2px 2px $color-text;
  }
  60% {
    box-shadow: none;
  }
  80% {
    box-shadow: 0 0 2px 2px $color-text;
  }
  85% {
    box-shadow: 0 0 4px 4px $color-text;
  }
  90% {
    box-shadow: 0 0 2px 2px $color-text;
  }
}

