.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 60px;


}

.Avatar{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.SpaceCraft{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}