.Wrapper__Wiki {
  background-image: url("../../../public/Milky.jpg");
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  @include flexDirection(column, center, center);
  overflow-x: hidden;
  gap: 25px;

  h1,
  h2,
  h3 {
    color: white;
  }
  .Search__Form__Container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .SearchForm {
      font-size: 0.9rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      position: relative;

      // isolation: isolate;
      .SearchInput {
        width: 100%;
        max-width: 220px;
        height: 40px;
        padding: 9px;
        border-radius: 12px;
        border: 1.5px solid lightgrey;
        color: white;
        outline: none;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        box-shadow: 0px 0px 20px -18px;
        background-color: transparent;

        &:hover {
          background-color: white;
          color: black;
          border: 2px solid lightgrey;
          box-shadow: 0px 0px 20px -17px;
        }

        &:active {
          transform: scale(0.95);
          color: black;
        }

        &:focus {
          border: 2px solid grey;
        }
      }

      button {
        width: 150px;
        height: 40px;
        
        @include flexDirection(row, center, center);
        gap: 10px;
        background-color: rgb(161, 255, 20);
        border-radius: 30px;
        color: rgb(19, 19, 19);

        border: none;
        position: relative;
        cursor: pointer;
        transition-duration: 0.2s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
        transition-duration: 0.5s;

        &:active {
          transform: scale(0.95);
        }

        .svgIcon {
          @include flexDirection(row, center, center);
          height: 25px;
          transition-duration: 1.5s;
        }
      }
    }

    .Dropdown__Preview {
      color: $color-heading;
      @include position(absolute, 40px, null, null, 0);
      color: black;

      .Dropdown__Item {
        margin-top: 2px;
        background-color: rgb(161, 255, 20);
        border-radius: 12px;
        width: 100%;
        width: 220px;
        height: 40px;
        padding: 9px;
        cursor: pointer;

        &:hover {
          border: 1px solid $color-heading;
        }
      }

    }
  }
}

.List_Elements {
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  padding-left: 120px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(161, 255, 20);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: rgb(161, 255, 20);
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(161, 255, 20);
  }

}

.Close__Button {
  color: white;
  font-size: 3rem;
  cursor: pointer;
  @include position(absolute, 0, null, null, 0);
  transform: rotate(180deg);
  padding: 10px;
  cursor: pointer;
  z-index: 999;
  .Back__Button__Image{
    filter: invert(100%);
    transform: scaleX(-1);
   
  }
}

@media screen and (max-width: 767px) {
  /* This is for mobile devices */
  .Wrapper__Wiki {
    
    margin-top: 70px;
    h1 {
      font-size: 1.7rem;
    }
    .List_Elements{
    display: flex;
    justify-content: space-between;
    padding: 22px;
    height: 220px;
    }
  }
  
  /* This is for tablet devices */
  @media screen and (min-width: 601px) and (max-width: 1024px) {
  }

  /* This is for laptop devices */
  @media screen and (min-width: 1025px) {
    
  }
}
