.Navbar {
  font-size: 2rem;
  color: $color-heading;
  z-index: 9999;

  width: 700px;
  height: 120px;
  border: 1px solid $color-heading;
  box-shadow: 0 0 6px 2px $color-heading;
  background-color: #ffffff;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 46% 46% 0 0;

  padding: 1px;

  &__BackEffect {
    border: 1px solid $color-heading;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    border-radius: 46% 46% 0 0;
    box-shadow: inset 0 0 6px 4px $color-heading;
  }

  &__Details {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.AvatarHome {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

/* Sistemare questo layout, div inutile? */
.Avatar__Wrapper {
  position: relative;
  bottom: 40px;
}

.SpacecraftHome {
  width: 80px;
  padding: 12px;
  border: 1px solid;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.192);
  filter: drop-shadow(8px 8px 10px black);
}

.wrappertxt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  text-transform:uppercase ;
}

.provalink {
  z-index: 999;
  cursor: pointer;
}

.BurgerWrapper {
  display: none;
}

@media screen and (max-width: 767px) {
  .top_nav_ul {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    display: none;
  }
  .BurgerWrapper {
    display: block;
  }

  label .menu {
    position: fixed;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    background-color: $color-cadet-gradient;
    cursor: pointer;
  }

  label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: #69d2e7;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  label .hamburger:after,
  label .hamburger:before {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #69d2e7;
  }

  label .hamburger:before {
    top: -10px;
  }

  label .hamburger:after {
    bottom: -10px;
  }

  label input #burger {
    display: none;
  }

  label input:checked + .menu {
    box-shadow: 0 0 0 100vw $color-cadet-gradient,
      0 0 0 100vh $color-cadet-gradient;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  .BurgerUl {
    z-index: 200;
    position: absolute;
    top: -400%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
  }
  .Burger {
    display: none;
  }

  .BurgerLi {
    /*  background-color: $color-heading; */
    margin-bottom: 1em;
    display: block;

    text-decoration: none;
  }
}

@keyframes Levitation {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(100px);
  }
}
