// funzione conversione px rem

$basesize: 16px;
@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}

// MIXINS

@mixin flexDirection($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
  }
  
  @mixin absolutePosition($firstReference, $firstValue, $secondReference, $secondValue) {
    position: absolute;
    $firstReference: $firstValue;
    $secondReference: $secondValue;
  }
  
  @mixin centerAbsolute($xPerc, $yPerc) {
        transform: translateX($xPerc);
        transform: translateY($yPerc);
  }