// funzione conversione px rem

$basesize: 16px;
@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}

// MIXINS

@mixin flexDirection($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    
  }

  @mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  
  @mixin centerAbsolute($xPerc, $yPerc) {
        transform: translateX($xPerc);
        transform: translateY($yPerc);
  }